<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-list>
            <mat-list-item> About </mat-list-item>
            <mat-list-item> History of the Prohibition </mat-list-item>
            <mat-list-item> Contact Us </mat-list-item>
           </mat-list>  
      
           <mat-list>
              <mat-list-item> Favorites </mat-list-item>
              <mat-list-item> Specials </mat-list-item>
              <mat-list-item> Membership Upgrade </mat-list-item>
             </mat-list> 
    </mat-grid-tile>
    <mat-grid-tile>
      Social media icons
    </mat-grid-tile>
  </mat-grid-list>