<app-header></app-header>

<h2 id="cHH">
  Current Happy Hours
</h2>
<div class="container homeLayout" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="assets/bar1.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="assets/bar2.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="assets/bar3.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="assets/bar4.jpg">
  </div>
</div>

<app-footer></app-footer>

