<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="City, St, or ZIP code"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a location.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Search</button>
  </form>
</mat-card>
